* {
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

:root {
  --st-blue: #a3c5e0;
  --wewak: #f0a3b0;
  --sidecar: #f1dcb6;
  --aspargus: #7d9b5f;
  --cashmere: #e3bba1;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--wewak);
  background-image: url("./images/Fond-image-totoro-desktop-beige-clair.png");
  display: flex;
  align-items: center;
  justify-content: center;
}

#quiz-container {
  background-color: var(--sidecar);
  color: var(--aspargus);
  border-radius: 16px;
  padding: 2rem;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  text-align: center;
  transition: transform 0.3s ease;
}

#quiz-container:hover {
  transform: scale(1.01);
}

.question {
  font-size: 1.3rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.options button {
  background-color: var(--st-blue);
  color: var(--aspargus);
  border: 2px solid var(--st-blue);
  border-radius: 8px;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.25s ease;
}

.options button:hover {
  border-color: var(--wewak);
  color: white;
  transform: translateY(-2px);
}

/* 🎯 États dynamiques (à gérer via JS) */
button.selected {
  background-color: var(--sidecar);
  color: white;
}

button.correct {
  border: var(--wewak);
  color: var(--aspargus);
}

button.wrong {
  background-color: #d57a66;
  color: white;
}

.button-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

#next-button {
  background-color: var(--aspargus);
  color: var(--sidecar);
  border: none;
  border-radius: 10px;
  padding: 0.9rem 1.8rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

#next-button:hover {
  background-color: var(--wewak);
  color: var(--aspargus);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

#replay-button {
  background-color: var(--aspargus);
  color: var(--sidecar);
  border: none;
  border-radius: 10px;
  padding: 0.9rem 1.8rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

#replay-button:hover {
  background-color: var(--wewak);
  color: var(--aspargus);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
